{
  "openapi": "3.1.0",
  "info": {
    "title": "Firefli API",
    "description": "Firefli workspace management API for members, activity, sessions, content, and alliances",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.firefli.net"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/public/v1/workspace/{id}/info": {
      "get": {
        "summary": "Get Workspace Info",
        "description": "Retrieve workspace metadata, branding, and member overview.",
        "tags": [
          "general"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace info response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/leaderboard": {
      "get": {
        "summary": "Get Workspace Leaderboard",
        "description": "Retrieve workspace leaderboard data including top players by playtime and sessions.",
        "tags": [
          "general"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "User ID to include their position in the 'you' object",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/members": {
      "get": {
        "summary": "Get Members",
        "description": "Get all workspace members with their roles and permissions",
        "tags": [
          "general"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter by role ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/birthdays": {
      "get": {
        "summary": "Get Birthdays",
        "description": "Retrieve upcoming birthdays from your workspace members",
        "tags": [
          "general"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencedate",
            "in": "query",
            "description": "Filter by date (e.g., 2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filterDay",
            "in": "query",
            "description": "Amount of days requested (e.g., 7)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Birthdays response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthdaysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/activity": {
      "get": {
        "summary": "Get Activity",
        "description": "Retrieve activity logs for workspace members with filtering options",
        "tags": [
          "activity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date (e.g., 2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date (e.g., 2024-01-31T23:59:59Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/user/{userid}/pactivity": {
      "get": {
        "summary": "Get Current Activity",
        "description": "Retrieve detailed activity logs for a specific workspace member",
        "tags": [
          "activity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Current activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCurrentActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/user/{userid}/activity": {
      "get": {
        "summary": "Get User Activity",
        "description": "Retrieve detailed activity logs for a specific workspace member",
        "tags": [
          "activity"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/sessions/calendar": {
      "get": {
        "summary": "Get Sessions",
        "description": "Retrieve upcoming and past sessions with date and category filtering",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by session type (lowercase)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/wall": {
      "get": {
        "summary": "Get Wall",
        "description": "Retrieve workspace wall posts with pagination and author information",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wall posts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WallResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Post Wall",
        "description": "Create a new wall post with optional image attachment",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content",
                  "authorId"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Post text"
                  },
                  "authorId": {
                    "type": "integer",
                    "description": "User ID (must be workspace member)"
                  },
                  "image": {
                    "type": "string",
                    "description": "Image URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/docs": {
      "get": {
        "summary": "Get Documents",
        "description": "Retrieve all workspace documents and guides with pagination",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/docs/{docid}": {
      "get": {
        "summary": "Get Document by ID",
        "description": "Retrieve a specific document with full content, metadata, and author information",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices": {
      "get": {
        "summary": "List Notices",
        "description": "Retrieve a list of all notices/timeoff requests with optional filtering.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: pending, approved, rejected, active",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected",
                "active"
              ]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by specific user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notices list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticesListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Notice",
        "description": "Create a new notice/timeoff request for a user.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "startTime",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "User ID"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date/time (ISO 8601)"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date/time (null for indefinite)",
                    "nullable": true
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for timeoff"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notice created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/{noticeId}": {
      "get": {
        "summary": "Get Specific Notice",
        "description": "Retrieve detailed information about a specific notice.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Notice Status",
        "description": "Update the status of a notice to approve, reject, or modify details.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "approved": {
                    "type": "boolean",
                    "description": "Approve (true) or reject (false) the notice"
                  },
                  "reviewComment": {
                    "type": "string",
                    "description": "Comment from reviewer"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Update end date (null for indefinite)",
                    "nullable": true
                  },
                  "revoked": {
                    "type": "boolean",
                    "description": "Revoke the notice"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notice updated response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Stop Active Notice",
        "description": "Immediately stop an active notice by setting end time to now.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice stopped response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "notice": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "integer"
                        },
                        "endTime": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/user/{userId}": {
      "get": {
        "summary": "Get User's Notices",
        "description": "Retrieve all notices for a specific user with optional filtering.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: pending, approved, rejected, active",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected",
                "active"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User notices response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNoticesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/summary": {
      "get": {
        "summary": "Get Summary Statistics",
        "description": "Retrieve summary statistics for all notices in the workspace.",
        "tags": [
          "notices"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice summary response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/workspace/{id}/allies": {
      "get": {
        "summary": "Get Alliances",
        "description": "Retrieve all workspace alliances with representatives and recent visit history",
        "tags": [
          "allies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alliances response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlliancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/sessions/{sessionId}/roles": {
      "get": {
        "summary": "Get Session Roles",
        "description": "Retrieve a session with all role assignments and slot information.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "Session UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session with roles response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRolesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/sessions/{sessionId}/assign": {
      "post": {
        "summary": "Assign Users to Session Roles",
        "description": "Assign or unassign users to session roles, or update the session host.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "Session UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "userId", "roleId", "slot"],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["assign", "unassign"],
                    "description": "Whether to assign or unassign the user"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Roblox user ID of the user to assign/unassign"
                  },
                  "roleId": {
                    "type": "string",
                    "description": "Slot UUID from the session type (use GET /sessions/sets or GET /sessions/{sessionId}/roles to get slot IDs)"
                  },
                  "slot": {
                    "type": "integer",
                    "description": "Zero-based slot index within the role"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAssignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/sessions/sets": {
      "get": {
        "summary": "Get Session Role Sets",
        "description": "Retrieve all active session role sets (role templates) for a workspace. Use the returned IDs in roleSetIds when creating sessions inline.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role sets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "roleSets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid", "description": "Role set UUID — use this in roleSetIds" },
                          "name": { "type": "string", "description": "Role display name" },
                          "hostRole": { "type": "string", "nullable": true, "enum": ["primary", "secondary", null], "description": "Host designation: primary host, secondary/co-host, or null for regular participant" },
                          "slots": { "type": "integer", "description": "Number of slots for this role" },
                          "weight": { "type": "integer", "description": "Display order weight (lower = higher)" },
                          "groupRoles": { "type": "array", "items": { "type": "integer" }, "description": "Eligible Roblox group role IDs" },
                          "category": {
                            "nullable": true,
                            "type": "object",
                            "properties": {
                              "id": { "type": "string", "format": "uuid" },
                              "name": { "type": "string" },
                              "weight": { "type": "integer" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/sessions/create-unscheduled": {
      "post": {
        "summary": "Create Unscheduled Session",
        "description": "Create an unscheduled session, optionally creating a new session type inline using role set IDs from Get Session Role Sets.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date"
                ],
                "properties": {
                  "sessionTypeId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Existing session type ID (use this OR sessionType, not both)"
                  },
                  "sessionType": {
                    "type": "object",
                    "description": "Create session type inline (use this OR sessionTypeId, not both)",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Session type name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Session type description"
                      },
                      "roleSetIds": {
                        "type": "array",
                        "description": "Array of role set UUIDs from Get Session Role Sets. Defines the role slots for the session including primary/secondary host designations.",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "statues": {
                        "type": "array",
                        "description": "Custom status definitions",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "name": { "type": "string" },
                            "color": { "type": "string" },
                            "timeAfter": { "type": "integer", "description": "Minutes after session start" }
                          }
                        }
                      }
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Session date (YYYY-MM-DD)"
                  },
                  "time": {
                    "type": "string",
                    "description": "Session time in HH:MM format (24-hour, UTC)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Custom session name (overrides session type name)"
                  },
                  "type": {
                    "type": "string",
                    "description": "Session type category",
                    "default": "other"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "Session host/owner user ID"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Session duration in minutes",
                    "default": 30
                  },
                  "sessionTagId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Session tag ID for categorization"
                  },
                  "logs": {
                    "type": "array",
                    "description": "Initial status log entries",
                    "items": {
                      "type": "object",
                      "required": [
                        "action"
                      ],
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "Log action/status"
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Additional log metadata"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/sessions/create-scheduled": {
      "post": {
        "summary": "Create Scheduled Session",
        "description": "Create a scheduled session, optionally creating a new session type and schedule inline using role set IDs from Get Session Role Sets.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date"
                ],
                "properties": {
                  "scheduleId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Existing schedule ID (use this OR sessionType, not both)"
                  },
                  "sessionType": {
                    "type": "object",
                    "description": "Create session type and schedule inline (use this OR scheduleId, not both)",
                    "required": [
                      "name",
                      "schedule"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Session type name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Session type description"
                      },
                      "roleSetIds": {
                        "type": "array",
                        "description": "Array of role set UUIDs from Get Session Role Sets. Defines the role slots for the session including primary/secondary host designations.",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "statues": {
                        "type": "array",
                        "description": "Custom status definitions",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "name": { "type": "string" },
                            "color": { "type": "string" },
                            "timeAfter": { "type": "integer", "description": "Minutes after session start" }
                          }
                        }
                      },
                      "schedule": {
                        "type": "object",
                        "required": [
                          "days",
                          "hour",
                          "minute"
                        ],
                        "properties": {
                          "days": {
                            "type": "array",
                            "description": "Days of week (0=Sunday, 6=Saturday)",
                            "items": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 6
                            }
                          },
                          "hour": {
                            "type": "integer",
                            "description": "Hour in 24-hour format (UTC)",
                            "minimum": 0,
                            "maximum": 23
                          },
                          "minute": {
                            "type": "integer",
                            "description": "Minute",
                            "minimum": 0,
                            "maximum": 59
                          }
                        }
                      }
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Session date (YYYY-MM-DD) - must match a day in schedule"
                  },
                  "name": {
                    "type": "string",
                    "description": "Custom session name (overrides session type name)"
                  },
                  "type": {
                    "type": "string",
                    "description": "Session type category",
                    "default": "other"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "Session host/owner user ID"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Session duration in minutes",
                    "default": 30
                  },
                  "sessionTagId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Session tag ID for categorization"
                  },
                  "logs": {
                    "type": "array",
                    "description": "Initial status log entries",
                    "items": {
                      "type": "object",
                      "required": [
                        "action"
                      ],
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "Log action/status"
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Additional log metadata"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/note": {
      "post": {
        "summary": "Create Note",
        "description": "Add a note entry to a user's logbook.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Note content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/warning": {
      "post": {
        "summary": "Create Warning",
        "description": "Add a warning entry to a user's logbook.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Warning reason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Warning entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/promotion": {
      "post": {
        "summary": "Create Promotion",
        "description": "Add a promotion entry to a user's logbook and rank them up one rank if a ranking system is configured.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Promotion reason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Promotion entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/demotion": {
      "post": {
        "summary": "Create Demotion",
        "description": "Add a demotion entry to a user's logbook and rank them down one rank if a ranking system is configured.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Demotion reason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Demotion entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/termination": {
      "post": {
        "summary": "Create Termination",
        "description": "Add a termination entry to a user's logbook. Sets rank to lowest and removes workspace roles if a ranking system is configured.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Termination reason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Termination entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookTerminationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/userbook/rank-change": {
      "post": {
        "summary": "Create Rank Change",
        "description": "Add a rank change entry to a user's logbook and set them to a specific rank if a ranking system is configured.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "reason",
                  "targetRank"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "Roblox user ID"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Rank change reason"
                  },
                  "targetRank": {
                    "type": "integer",
                    "description": "Target role number to set the user to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rank change entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{id}/userbook/entries": {
      "get": {
        "summary": "Get Userbook Entries",
        "description": "Returns userbook entries (warnings, promotions, demotions, terminations, rank changes, notes) for the specified workspace with full author and user details.",
        "tags": [
          "userbook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Filter entries for a specific user ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by entry type",
            "schema": {
              "type": "string",
              "enum": [
                "warning",
                "promotion",
                "demotion",
                "termination",
                "rank-change",
                "resignation",
                "note"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of entries to return (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of entries to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "includeRedacted",
            "in": "query",
            "required": false,
            "description": "Include redacted entries",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Userbook entries response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBookEntriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/recommendations": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "summary": "List recommendations",
        "description": "Get a paginated list of recommendations with optional filtering",
        "operationId": "listRecommendations",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "approved",
                "rejected",
                "archived"
              ]
            },
            "description": "Filter by recommendation status"
          },
          {
            "name": "targetUserId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by target user ID"
          },
          {
            "name": "createdById",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by creator user ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ],
              "default": "createdAt"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Create recommendation",
        "description": "Create a new recommendation for a member",
        "operationId": "createRecommendation",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recommendation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "recommendation": {
                      "$ref": "#/components/schemas/Recommendation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/recommendations/{recommendationId}": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Get recommendation",
        "description": "Get a specific recommendation with votes and comments",
        "operationId": "getRecommendation",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "recommendation": {
                      "$ref": "#/components/schemas/RecommendationDetailed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Update recommendation",
        "description": "Update recommendation status or reason",
        "operationId": "updateRecommendation",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "recommendation": {
                      "$ref": "#/components/schemas/Recommendation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Delete recommendation",
        "description": "Delete a recommendation (also deletes all votes and comments)",
        "operationId": "deleteRecommendation",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deletedById"
                ],
                "properties": {
                  "deletedById": {
                    "type": "integer",
                    "description": "User ID of the person deleting the recommendation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendation deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Recommendation deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/recommendations/{recommendationId}/vote": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "summary": "List votes",
        "description": "Get all votes for a recommendation",
        "operationId": "listVotes",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Add vote",
        "description": "Add a vote to a recommendation",
        "operationId": "addVote",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "User ID of the person voting"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vote added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "vote": {
                      "$ref": "#/components/schemas/Vote"
                    },
                    "voteCount": {
                      "type": "integer",
                      "description": "Total number of votes"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "description": "User has already voted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "User has already voted on this recommendation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Remove vote",
        "description": "Remove a vote from a recommendation",
        "operationId": "removeVote",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "User ID of the person removing their vote"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Vote removed successfully"
                    },
                    "voteCount": {
                      "type": "integer",
                      "description": "Updated total number of votes"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/recommendations/{recommendationId}/comments": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "summary": "List comments",
        "description": "Get all comments for a recommendation",
        "operationId": "listComments",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order by creation date"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Add comment",
        "description": "Add a comment to a recommendation",
        "operationId": "addComment",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/recommendations/{recommendationId}/comments/{commentId}": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Get comment",
        "description": "Get a specific comment",
        "operationId": "getComment",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Comment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Update comment",
        "description": "Update a comment's content or image",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Comment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Recommendations"
        ],
        "summary": "Delete comment",
        "description": "Delete a comment from a recommendation",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace group ID"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Recommendation ID"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Comment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "authorId"
                ],
                "properties": {
                  "authorId": {
                    "type": "integer",
                    "description": "User ID of the person deleting the comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Comment deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WorkspaceInfoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "workspace": {
            "type": "object",
            "properties": {
              "groupId": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              },
              "memberCount": {
                "type": "integer"
              },
              "roles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      },
      "MembersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "BirthdaysResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "birthdays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Birthday"
            }
          },
          "total": {
            "type": "integer"
          },
          "filterDays": {
            "type": "integer"
          },
          "referenceDate": {
            "type": "string"
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitySession"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "UserActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "activity": {
            "type": "object",
            "properties": {
              "totalSessions": {
                "type": "integer"
              },
              "totalDuration": {
                "type": "integer"
              },
              "averageDuration": {
                "type": "integer"
              },
              "totalMessages": {
                "type": "integer"
              },
              "sessions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySession"
                }
              }
            }
          }
        }
      },
      "UserCurrentActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              },
              "role": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "resetInfo": {
            "type": "object",
            "properties": {
              "lastResetDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "resetById": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "activity": {
            "type": "object",
            "properties": {
              "sessions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySession"
                }
              },
              "totalSessions": {
                "type": "integer"
              },
              "totalActivityTime": {
                "type": "integer"
              },
              "averageSessionLength": {
                "type": "integer"
              },
              "notices": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "SessionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "sessionsByDate": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Session"
              }
            }
          },
          "dateRange": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          }
        }
      },
      "DocumentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "AlliancesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "allies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alliance"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "birthdayDay": {
            "type": "integer"
          },
          "birthdayMonth": {
            "type": "integer"
          },
          "daysAway": {
            "type": "integer"
          },
          "nextBirthday": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          }
        }
      },
      "ActivitySession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "messages": {
            "type": "integer"
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "type": "string",
[...]
