{
  "openapi": "3.1.0",
  "info": {
    "title": "Firefli API",
    "description": "Firefli workspace management API for members, activity, sessions, content, and alliances",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.firefli.net"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/workspace/{id}/info": {
      "get": {
        "summary": "Get Workspace Info",
        "description": "Retrieve workspace metadata, branding, and member overview.",
        "tags": ["general"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace info response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/leaderboard": {
      "get": {
        "summary": "Get Workspace Leaderboard",
        "description": "Retrieve workspace leaderboard data including top players by playtime and sessions.",
        "tags": ["general"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "User ID to include their position in the 'you' object",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/members": {
      "get": {
        "summary": "Get Members",
        "description": "Get all workspace members with their roles and permissions",
        "tags": ["general"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter by role ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/birthdays": {
      "get": {
        "summary": "Get Birthdays",
        "description": "Retrieve upcoming birthdays from your workspace members",
        "tags": ["general"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencedate",
            "in": "query",
            "description": "Filter by date (e.g., 2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filterDay",
            "in": "query",
            "description": "Amount of days requested (e.g., 7)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Birthdays response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthdaysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/activity": {
      "get": {
        "summary": "Get Activity",
        "description": "Retrieve activity logs for workspace members with filtering options",
        "tags": ["activity"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date (e.g., 2024-01-01T00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date (e.g., 2024-01-31T23:59:59Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/user/{userid}/pactivity": {
      "get": {
        "summary": "Get Current Activity",
        "description": "Retrieve detailed activity logs for a specific workspace member",
        "tags": ["activity"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Current activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCurrentActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/user/{userid}/activity": {
      "get": {
        "summary": "Get User Activity",
        "description": "Retrieve detailed activity logs for a specific workspace member",
        "tags": ["activity"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activity response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/sessions": {
      "get": {
        "summary": "Get Sessions",
        "description": "Retrieve upcoming and past sessions with date and category filtering",
        "tags": ["sessions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter by start date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter by end date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by session type (lowercase)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/wall": {
      "get": {
        "summary": "Get Wall",
        "description": "Retrieve workspace wall posts with pagination and author information",
        "tags": ["content"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wall posts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WallResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Post Wall",
        "description": "Create a new wall post with optional image attachment",
        "tags": ["content"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "authorId"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Post text"
                  },
                  "authorId": {
                    "type": "integer",
                    "description": "User ID (must be workspace member)"
                  },
                  "image": {
                    "type": "string",
                    "description": "Image URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/docs": {
      "get": {
        "summary": "Get Documents",
        "description": "Retrieve all workspace documents and guides with pagination",
        "tags": ["content"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspace/{id}/docs/{docid}": {
      "get": {
        "summary": "Get Document by ID",
        "description": "Retrieve a specific document with full content, metadata, and author information",
        "tags": ["content"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices": {
      "get": {
        "summary": "List Notices",
        "description": "Retrieve a list of all notices/timeoff requests with optional filtering.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: pending, approved, rejected, active",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected", "active"]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by specific user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notices list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticesListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Notice",
        "description": "Create a new notice/timeoff request for a user.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "startTime", "reason"],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "User ID"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date/time (ISO 8601)"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date/time (null for indefinite)",
                    "nullable": true
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for timeoff"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notice created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/{noticeId}": {
      "get": {
        "summary": "Get Specific Notice",
        "description": "Retrieve detailed information about a specific notice.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Notice Status",
        "description": "Update the status of a notice to approve, reject, or modify details.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "approved": {
                    "type": "boolean",
                    "description": "Approve (true) or reject (false) the notice"
                  },
                  "reviewComment": {
                    "type": "string",
                    "description": "Comment from reviewer"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Update end date (null for indefinite)",
                    "nullable": true
                  },
                  "revoked": {
                    "type": "boolean",
                    "description": "Revoke the notice"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notice updated response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Stop Active Notice",
        "description": "Immediately stop an active notice by setting end time to now.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "description": "Notice UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice stopped response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "notice": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "integer"
                        },
                        "endTime": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/user/{userId}": {
      "get": {
        "summary": "Get User's Notices",
        "description": "Retrieve all notices for a specific user with optional filtering.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: pending, approved, rejected, active",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected", "active"]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User notices response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNoticesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/workspace/{workspaceId}/notices/summary": {
      "get": {
        "summary": "Get Summary Statistics",
        "description": "Retrieve summary statistics for all notices in the workspace.",
        "tags": ["notices"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notice summary response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/workspace/{id}/allies": {
      "get": {
        "summary": "Get Alliances",
        "description": "Retrieve all workspace alliances with representatives and recent visit history",
        "tags": ["allies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alliances response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlliancesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WorkspaceInfoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "workspace": {
            "type": "object",
            "properties": {
              "groupId": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              },
              "memberCount": {
                "type": "integer"
              },
              "roles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      },
      "MembersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "BirthdaysResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "birthdays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Birthday"
            }
          },
          "total": {
            "type": "integer"
          },
          "filterDays": {
            "type": "integer"
          },
          "referenceDate": {
            "type": "string"
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitySession"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "UserActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "activity": {
            "type": "object",
            "properties": {
              "totalSessions": {
                "type": "integer"
              },
              "totalDuration": {
                "type": "integer"
              },
              "averageDuration": {
                "type": "integer"
              },
              "totalMessages": {
                "type": "integer"
              },
              "sessions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySession"
                }
              }
            }
          }
        }
      },
      "UserCurrentActivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              },
              "role": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "resetInfo": {
            "type": "object",
            "properties": {
              "lastResetDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "resetById": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "activity": {
            "type": "object",
            "properties": {
              "sessions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySession"
                }
              },
              "totalSessions": {
                "type": "integer"
              },
              "totalActivityTime": {
                "type": "integer"
              },
              "averageSessionLength": {
                "type": "integer"
              },
              "notices": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "SessionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "sessionsByDate": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Session"
              }
            }
          },
          "dateRange": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          }
        }
      },
      "DocumentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "AlliancesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "allies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alliance"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "birthdayDay": {
            "type": "integer"
          },
          "birthdayMonth": {
            "type": "integer"
          },
          "daysAway": {
            "type": "integer"
          },
          "nextBirthday": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          }
        }
      },
      "ActivitySession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "messages": {
            "type": "integer"
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ended": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "type": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "gameId": {
                "type": "integer"
              },
              "slots": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slots": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "tag": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "host": {
            "type": "object",
            "nullable": true,
            "properties": {
              "userId": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              }
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "status": {
            "type": "string",
            "enum": ["scheduled", "in-progress", "ended", "missed"]
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "playtime": {
            "type": "object",
            "properties": {
              "top_three": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "position": {
                      "type": "integer",
                      "description": "Leaderboard position"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total playtime in minutes"
                    },
                    "in_game": {
                      "type": "boolean",
                      "description": "Whether user is currently in game"
                    }
                  }
                }
              }
            }
          },
          "you": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "Your user ID"
              },
              "position": {
                "type": "integer",
                "description": "Your leaderboard position"
              },
              "total": {
                "type": "integer",
                "description": "Your total playtime in minutes"
              },
              "in_game": {
                "type": "boolean",
                "description": "Whether you are currently in game"
              }
            }
          },
          "sessions": {
            "type": "object",
            "properties": {
              "top_three": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "position": {
                      "type": "integer",
                      "description": "Leaderboard position"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of sessions"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Alliance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "representatives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                },
                "contact": {
                  "type": "string"
                }
              }
            }
          },
          "recentVisits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "notes": {
                  "type": "string"
                },
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Notice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Notice UUID"
          },
          "userId": {
            "type": "integer",
            "description": "User ID"
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "displayname": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              }
            }
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start date/time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "End date/time (null for indefinite)"
          },
          "reason": {
            "type": "string",
            "description": "Reason for timeoff"
          },
          "approved": {
            "type": "boolean",
            "description": "Whether the notice is approved"
          },
          "reviewed": {
            "type": "boolean",
            "description": "Whether the notice has been reviewed"
          },
          "revoked": {
            "type": "boolean",
            "description": "Whether the notice has been revoked"
          },
          "reviewComment": {
            "type": "string",
            "description": "Comment from reviewer"
          }
        }
      },
      "NoticesListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notice"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "NoticeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "notice": {
            "$ref": "#/components/schemas/Notice"
          }
        }
      },
      "UserNoticesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "displayname": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              }
            }
          },
          "notices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "reason": {
                  "type": "string"
                },
                "approved": {
                  "type": "boolean"
                },
                "reviewed": {
                  "type": "boolean"
                },
                "revoked": {
                  "type": "boolean"
                },
                "reviewComment": {
                  "type": "string"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "NoticeSummaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total notices"
              },
              "pending": {
                "type": "integer",
                "description": "Pending notices awaiting review"
              },
              "approved": {
                "type": "integer",
                "description": "Approved notices"
              },
              "rejected": {
                "type": "integer",
                "description": "Rejected notices"
              },
              "active": {
                "type": "integer",
                "description": "Currently active notices"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}